# Bazel configuration for YDF-TF
#
# Windows support not added yet.

common --enable_platform_specific_config

build -c opt
build --announce_rc
build --color=yes

build:linux --copt=-fdiagnostics-color=always
build:linux --copt=-w
build:linux --host_copt=-w
build:linux --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17
build:macos --cxxopt=-std=c++17
build:macos --host_cxxopt=-std=c++17

build:macos --copt=-w

build:windows --copt=/W0
